*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

html, body{
    height: 100%;
    width: 100%;
}


#cursor{
    height: 25px;
    width: 25px;
    background-color: #26e1e775;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: #26e1e77e;
    border-radius: 50%;
    position: fixed;
    filter: blur(30px);
    z-index: 9;
}

#nav{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    position: fixed;
    justify-content: flex-start;
    padding: 0 15px;
    z-index: 99;
    
}

#nav ul{
    flex: 1;
    text-align: right;
    display: inline-block;
    list-style: none;
    margin-right: 40px;
}

#nav ul li{
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

a{
    text-decoration: none;
    
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    z-index: 99;
    margin-right: 15px;
}

.menu-icon span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#logo{
    height: 160px;
    width: 220px;
    margin-top: 30px;
    margin-right: 70px;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#ssit{
    margin-bottom: 45px;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

#page1 h1{
    font-size: 110px;
    position: relative;
}

#page1 h1::before{
    content: "CODE CRAFTING";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}

.sub{
    font-size: 75px;
    margin-bottom: 10px;
    font-weight: 700;
    position: relative;
}

.sub::before{
    content: "(CODING CLUB)";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}

#page1 h2{
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#sub2 {
    font-size: 25px;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;

}

#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar{
    display: none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 110px;
    color: transparent;
    transition: linear 0.5s;
    -webkit-text-stroke: 2px #95c11e;
}

#scroller h4:hover{
    color: #95c11e;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

#about-us{
    height: 60vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;
    margin-top: 60px;
}



#about-us-in h3{
    font-size: 40px;
    margin-bottom: 30px;
}

#about-us-in p{
    font-size: 20px;
    line-height: 29px;
}

#cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card{
    height: 80%;
    width: 24%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}

#card-1{
    background-image: url(pic/cp.png);
}

#card-2{
    background-image: url(pic/3.jpg);
}

#card-3{
    background-image: url(pic/hackathon.jpg);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #26e1e7a9;
    padding: 10px;
    padding-top: 120px;
    opacity: 0;
    transition: all ease 0.6s;
}

.overlay h4{
    color: #000;
    font-size: 30px;
    text-align: center;
}

.overlay p{
    color: #000;
    font-size: 17px;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(-1,1,0,15deg);
}

#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #119F3A, #ace022);
}

#green-div h4{
    width: 50%;
    font-size: 23px;
    text-align: center;
    color: #000;
}

#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#page3 h4{
    font-size: 30px;
    width: 50%;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}

#page3 p{
    margin-top: 15px;
}

#page3 img{
    position: absolute;
    height: 50px;
    width: 50px;
}

#page3 #colon1{
    left: 20%;
    top: 30%;
}

#page3 #colon2{
    bottom: 30%;
    right: 25%;
}

#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: linear-gradient(to left bottom, #119F3A, #ace022);;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(211, 206, 206, 0.45);
    z-index: 10;
}

#form header{
    font-size: 2rem;
    color: #000;
    text-align: center;
}

#form .form{
    margin-top: 30px;

}

#input-box{
    width: 100%;
    margin-top: 20px;
}

#input-box label{
    color: #333;
    font-size: 20px;
    margin-left: 22px;
}

#input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 0 15px;
}

#semester{
    position: relative;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-radius: 4px;
    color: #000;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 0 15px;
    
}

option{
    color: #000;
}

button{
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    padding-top: 20px;
    margin-top: 25px;
}

button:hover{
    box-shadow: 0 0 20px #26e1e7;
    background: linear-gradient(to right, #26e1e7, #1e3c72);
}


#events{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    z-index: 10;
}

#events h1{
    font-size: 55px;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    text-align: center;

}

#events h1::before{
    content: "upcoming tech events and hackathons register now";
    position: absolute;
    color: black;
    top: -7px;
    left: -7px;
    -webkit-text-stroke: 3px #95c11e;
    z-index: -1;
}


#upcoming{
    margin-bottom: -220px;
    margin-top: 90px;
    display: flex;
    text-align: center;
    justify-content: center;

}

.time{
    height: 110%;
    width: 50%;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    
}

.time-bg{
    background: #056b6e;
    height: 70px;
    width: 30%;
    font-size: 19px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-bg:hover{
    background: #119F3A;
}

.time-bg h3{
    padding: 8px;
}

.text6{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text6 p{
    width: 60%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}


.regis h1::before{
    content: "Hackathon and event REGISTRATION";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 3px #95c11e;
    z-index: -1;
}




#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom,#119F3A,#ace022);
    display: flex;
    align-items: center;
    justify-content: space-around;
 
}

#footer-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#f3 p{
    color: #000;
    font-size: 20px;
    margin-right: 15px;
    margin-top: 25px;
    font-weight: 600;
}

#f3 i{
    color: #000;
    margin-right: 5px;
}


@media (max-width: 768px) {
    
    body{
        width: 70%;
        height: 100vh;
    }

    #nav{
        width: 100%;
        height: 60px;
        padding: 25px;
        position: fixed;
    }

    #logo {
        height: 80px;
        width: 100px;
    }

   
    #nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: 0.5s;
        overflow-x: hidden;
    }

    #nav ul.active {
        right: 0;
    }

  
    #nav ul li {
        display: block;
        font-size: 22px;
        margin: 15px 0;
    }

    #nav ul li a:hover{
        color: #26e1e7;
    }

   
    .menu-icon {
        display: flex;
        margin-left: 220px;
    }

    #main{
        width: 100%;
        position: relative;
    }

    #page1{
        width: 100%;
        height: 100vh;
    }

    #page1 h1{
        font-size: 40px;
    }

   
    .card {
        width: 80%;
        height: 60%;
    }

    #cards-container {
        flex-direction: column;
    }
}


@media (max-width: 600px) {
    

    body{
        width: 80%;
        height: 100%;
    }

    #nav{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .menu-icon{
        margin-left: -6px;
        margin-right: 0px;
        width: 30px;
        height: 20px;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    #nav ul {
        position: fixed;
        top: 10px;
        right: -110%;
        background-color: #000;
        height: 50vh;
        width: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: 0.5s;
        overflow-x: hidden;
    }

    #logo {
        height: 80px;
        width: 120px;
        margin-left: -20px;
    }

    #main{
        width: 125.5%;
        margin-left: 0px;
        overflow-x: hidden;
    }

    #page1{
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

   
    #page1 h1 {
        font-size: 45px;
        font-weight: 800;
        text-align: center;
    }

    .sub{
        font-size: 28px;
        font-weight: 800;
    }

    .sub::before{
        content: "(CODING CLUB)";
        position: absolute;
        color: black;
        top: -3px;
        left: -3px;
        -webkit-text-stroke: 2px #95c11e;
        z-index: -1;
    }

    #page1 h2{
        font-size: 22px;
        text-align: center;
    }

    #sub2{
        font-size: 18px;
        text-align: center;
    }

    #ssit{
        width: 150px;
        height: 150px;
        margin-top: 120px;
       
    }

    
    #nav ul li {
        font-size: 18px;
    }

    #page2{
        height: 200vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #scroller h4{
        font-size: 40px;
    }

    #about-img{
        height: 90px;
        width: 90px;
    }

    #about-us{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 60px;
       
    }

    #about-us-in h3{
        font-size: 25px;
    }

   #aboutp{
    font-size: 18px;
   }
    
    #form {
        padding: 15px;
    }

    #form header {
        font-size: 1.5rem;
    }

    #input-box input {
        font-size: 0.9rem;
    }

   
    button {
        font-size: 14px;
        padding: 15px;
    }

    .card {
        height: 50%;
    }
}
